*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height:100vh;
    display: flex;
    background-color: #BA181B;
}
.flex-item{
    flex: 1;
}
.flex-container  {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
    background-color: DodgerBlue;
}
.memory-game   {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid lime;
    perspective: 1000px;
}
.memory-card {
    width: calc(25% - 10px);
    height: calc(33% - 10px);
    margin: 5px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    transform: scale(1);
    transform-style:preserve-3d ;
    transition: transform .2s;
    border: 2px solid aqua;
}
.memory-card:active {
transform: scale(.97);
transition :transform .2s;
}
.memory-card.flip{
    transform: rotateY(180deg);
}

.back-face{
    width: 100%;
    height: 100%;
    
    position: absolute;
    backface-visibility: hidden;
    
    border: 2px solid deeppink;
}
.front-face{
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}

